<div>
  <a href="/finances/entries" class="btn btn-default">Entradas</a>
  <a href="/finances/expenses" class="btn btn-default">Despesas</a>
  <a href="/finances/statistics" class="btn btn-default">Estatísticas</a>
</div>
<br>
