
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Javascript Content Management System">
    <meta name="author" content="Marcelo Lazaroni">
    <link rel="shortcut icon" type='image/x-icon' href="/images/favicon-cube.ico">
    <title>Cube</title>
    <link href="/styles/main.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#each navbar}}
              <li role="presentation" class="{{#is ../title label}} active {{/is}}"><a href="{{ href }}">{{ label }}</a></li>
            {{/each}}
          </ul>
        </nav>
        <h3 class="text-muted">Cube</h3>
      </div>

      {{{ body }}}

      <footer class="footer">
        <p>&copy; 2016 - Marcelo Lazaroni.</p>
      </footer>

    </div> <!-- /container -->

    <script id="__bs_script__">//<![CDATA[
document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.js?v=2.16.0'><\/script>".replace("HOST", location.hostname));
//]]></script>

  </body>
</html>
