{{#each databases}}
	<h2>{{ title }}</h2>
	{{#each records}}
		{{#each fields}}

			<h4>{{ label }}</h4>

			{{#is type "Html"}}
				{{{ value }}}
			{{/is}}
			{{#is type "text"}}
				<p>{{ value }}</p>
			{{/is}}

		{{/each}}
	{{/each}}
{{/each}}
