{{>finances-menu}}

<h2>Entradas</h2>
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Descriação</th>
      <th>Categoria</th>
      <th>Data</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td>{{description}}</td>
        <td>{{category}}</td>
        <td>{{formatDate date "%m/%d/%Y"}}</td>
        <td>{{formatCurrency amount}}</td>
      </tr>
    {{/each}}
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
