<div class="jumbotron">
  <h1>Cube CMS</h1>
  <p class="lead">Javascript Content Management Admin Panel</p>
  <p><a class="btn btn-lg btn-success" href="/database" role="button">Check out the database</a></p>
</div>
