<div class="jumbotron">
  <h1>Cube</h1>
  <p class="lead">Javascript Content Management Admin Panel</p>
  <p><a class="btn btn-lg btn-success" href="/database" role="button">Check out the database</a></p>
</div>

<div class="row">
  <div class="col-sm-4 col-xs-6 cb-col-equal-padding">
    <a class="btn btn-primary cb_gridButton" href="/finances">
      <i class="fa fa-money cb_gridButton-icon" aria-hidden="true"></i>
      Finanças
    </a>
  </div>
  <div class="col-sm-4 col-xs-6 cb-col-equal-padding">
    <button type="button" name="button" class="btn btn-primary cb_gridButton">
      <i class="fa fa-file-text cb_gridButton-icon" aria-hidden="true"></i>
      Certificados
    </button>
  </div>
  <div class="col-sm-4 col-xs-6 cb-col-equal-padding">
    <button type="button" name="button" class="btn btn-primary cb_gridButton">
      <i class="fa fa-graduation-cap cb_gridButton-icon" aria-hidden="true"></i>
      Estudos
    </button>
  </div>
  <div class="col-sm-4 col-xs-6 cb-col-equal-padding">
    <button type="button" name="button" class="btn btn-primary cb_gridButton">
      <i class="fa fa-briefcase cb_gridButton-icon" aria-hidden="true"></i>
      Recursos
    </button>
  </div>

</div>
