<div class="jumbotron">
  <h1>Cube CMS</h1>
  <p class="lead">Javascript Content Management Admin Panel</p>
  <p><a class="btn btn-lg btn-success" href="/database" role="button">Check out the database</a></p>
</div>

<div class="row">
  <div class="col-sm-4 col-xs-6">
    <button type="button" name="button" class="btn btn-default">
      Finances
      <i class="fa fa-money" aria-hidden="true"></i>
    </button>
  </div>
  <div class="col-sm-4 col-xs-6">
    <button type="button" name="button" class="btn btn-default">
      Certificates
    </button>
  </div>
</div>
